* {
    --main-color: #A89365;
    font-family: Futura PT;
}
.container {
    padding-left: 26px;
    padding-right: 26px; 
}
.header {
    display: flex;
    justify-content: space-between;
}
h1 {
    margin: 0 auto 20px 35px;
    font-size: 48px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: var(--main-color);
}
.show {
    margin: 12px 2% auto auto;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    text-align: right;
    text-transform: uppercase;
    color: var(--main-color);
}
.dash {
   margin-bottom: 4px; 
}
.symbol_arrow {
    margin-left: -5px;
}
.carousel {
    display: flex;
    justify-content: center;
}
.arrow_container {
    height: 100%;
    padding-top: 14.7%;
}
.right, .left {
    background-color: white;
    border: none;
}
.big_arrow {
    height: 32px;
    width: 16px;
}
.little_arrow {
    display: none;
}
.card {
    height: 100px;
    width: 24%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.illustration {
  width: 100%;
   height: auto;
    margin-bottom: 20px;
}
h2 {
    margin: 0;
    line-height: 100%;
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    color: var(--main-color);
}
.description {
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #575757;
}
.dots_wrapper {
    display: none;
}
.buttons {
    display: flex;
    justify-content: center;
}
.white, .gold {
    height: 60px;
    width: 360px;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
}
.gold {
    margin: 40px auto 0 20px;
    background-color: var(--main-color);
    border:  1px solid var(--main-color) ;
    color: #FFFFFF;
}
.white {
    margin: 40px 20px 0 auto;
    color: var(--main-color);
    border:  1px solid var(--main-color) ;
    background-color: white;
}
button:active {
    border: none;
}
